ul{
    list-style-type:disc;
}
ol{
    list-style-type:circle;
} 
    bor
form{
    background-color: ;
}

input{
    height: 30px;
    width: 200px;
    padding: 10px 20px 10px 10px;
    outline: none;
    font-size: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    

    
    
}

input:focus{
    border: 2px solid blue;
    background-color: goldenrod;
}

input[type="checkbox"]{
    height: 30px;
    accent-color: red;
}
input[type="radio"]{
    accent-color:gold ;
   
    
}

